.sidebar {
    padding-right:66px;
    padding-left:31px;
    display: flex;
    flex-direction: column;
  }
  .sidebar-menu-item {
    display: flex;
    font-family: 'Mulish', sans-serif;
    color: rgba(137, 137, 137, 1);
    font-size: 16px;
    line-height: 20px;
    margin: 0;
  }
  .sidebar-menu-item:nth-child(1){
    color: rgba(255, 0, 0, 1);
  }
  .sidebar-menu-item:nth-child(-n+11) {
    padding-bottom: 28px;
  }
  .sidebar-menu-item:nth-child(3) {
    padding-bottom: 60px;
  }
  .sidebar-menu-item:nth-child(1) img{
    padding-right: 13.5px;
    margin-left: 1px;
    margin-bottom: 1px;
  }
  .sidebar-menu-item:nth-child(2) img {
    padding-right: 15px;
    margin-left: 2.5px;
  }
  .sidebar-menu-item:nth-child(3) img {
    padding-right: 14.19px;
    margin-left: 2.5px;
  }
  .sidebar-menu-item:nth-child(4) img {
    padding-right: 12px;
    margin-left: 2px;
  }
  .sidebar-menu-item:nth-child(5) img {
    padding-right: 12px;
    margin-left: 1.5px;
  }
  .sidebar-menu-item:nth-child(5) figcaption,
  .sidebar-menu-item:nth-child(6) figcaption,
  .sidebar-menu-item:nth-child(7) figcaption,
  .sidebar-menu-item:nth-child(10) figcaption{
    margin-top: 0.75px;
  }
  .sidebar-menu-item:nth-child(6) img {
    padding-right: 15.5px;
    margin-left: 2px;
    margin-top: 2px;
  }
  .sidebar-menu-item:nth-child(7) img {
    padding-right: 12.5px;
    margin-left: 2px;
    margin-top: 2px;
  }
  .sidebar-menu-item:nth-child(8) img {
    padding-right: 14px;
    margin-left: 2px;
    margin-top: 2px;
  }
  .sidebar-menu-item:nth-child(8) figcaption,
  .sidebar-menu-item:nth-child(9) figcaption,
  .sidebar-menu-item:nth-child(11) figcaption {
    margin-top: 1px;
  }
  .sidebar-menu-item:nth-child(9) img {
    padding-right: 14px;
    margin-left: 2px;
    margin-top: 1.5px;
  }
  .sidebar-menu-item:nth-child(10) img {
    padding-right: 12px;
    margin-top: 3.5px;
  }
  .sidebar-menu-item:nth-child(11) img {
    padding-right: 15px;
    margin-top: 6px;
    margin-left: 4.5px;
  }
  .sidebar-subs {
    padding-top: 30px;
  }
  .sidebar-subs h3{
    font-family: 'Mulish', sans-serif;
    color: rgba(0, 0, 0, 1);
    font-size: 18px;
    line-height: 22.5px;
    font-weight: 700;
  }
  .subs-list-item {
    display: flex;
    font-family: 'Mulish', sans-serif;
    color: rgba(137, 137, 137, 1);
    font-size: 16px;
    line-height: 20.08px;
    gap: 10px;
    margin: 0;
  }
  .sidebar-subs-list {
    padding-top: 30px;
  }
  .subs-list-item:nth-child(-n+5) {
    padding-bottom: 23px;
    width: max-content;
  }
  .sidebar-subs-list img {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border: 0;
  }
  .sidebar-subs-list figcaption {
    padding-top: 4px;
  }
  .sidebar-settings {
    display: flex;
    gap: 12.3px;
    margin-top: auto;
    padding-top: 104px;
    font-family: 'Mulish', sans-serif;
    color: rgba(194, 194, 194, 1);
    font-size: 16px;
    line-height: 20.08px;
  }
  .sidebar-settings-text {
    padding-top: 1px;
  }
  .sidebar-settings-logo {
    padding-top: 1px;
    padding-left: 3px;
  }