.App {
display: flex;
flex-direction: column;
max-width: 1920px;
margin: auto;
background-color: rgba(255, 255, 255, 1);
}


.sidebar {
  padding-right:66px;
  padding-left:31px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}
.sidebar-menu-item {
  display: flex;
  font-family: 'Mulish', sans-serif;
  color: rgba(137, 137, 137, 1);
  font-size: 16px;
  line-height: 20px;
  margin: 0;
}
.sidebar-menu-item:nth-child(1){
  color: rgba(255, 0, 0, 1);
}
.sidebar-menu-item:nth-child(-n+11) {
  padding-bottom: 28px;
}
.sidebar-menu-item:nth-child(3) {
  padding-bottom: 60px;
}
.sidebar-menu-item:nth-child(1) img{
  padding-right: 13.5px;
  margin-left: 1px;
  margin-bottom: 1px;
}
.sidebar-menu-item:nth-child(2) img {
  padding-right: 15px;
  margin-left: 2.5px;
}
.sidebar-menu-item:nth-child(3) img {
  padding-right: 14.19px;
  margin-left: 2.5px;
}
.sidebar-menu-item:nth-child(4) img {
  padding-right: 12px;
  margin-left: 2px;
}
.sidebar-menu-item:nth-child(5) img {
  padding-right: 12px;
  margin-left: 1.5px;
}
.sidebar-menu-item:nth-child(5) figcaption,
.sidebar-menu-item:nth-child(6) figcaption,
.sidebar-menu-item:nth-child(7) figcaption,
.sidebar-menu-item:nth-child(10) figcaption{
  margin-top: 0.75px;
}
.sidebar-menu-item:nth-child(6) img {
  padding-right: 15.5px;
  margin-left: 2px;
  margin-top: 2px;
}
.sidebar-menu-item:nth-child(7) img {
  padding-right: 12.5px;
  margin-left: 2px;
  margin-top: 2px;
}
.sidebar-menu-item:nth-child(8) img {
  padding-right: 14px;
  margin-left: 2px;
  margin-top: 2px;
}
.sidebar-menu-item:nth-child(8) figcaption,
.sidebar-menu-item:nth-child(9) figcaption,
.sidebar-menu-item:nth-child(11) figcaption {
  margin-top: 1px;
}
.sidebar-menu-item:nth-child(9) img {
  padding-right: 14px;
  margin-left: 2px;
  margin-top: 1.5px;
}
.sidebar-menu-item:nth-child(10) img {
  padding-right: 12px;
  margin-top: 3.5px;
}
.sidebar-menu-item:nth-child(11) img {
  padding-right: 15px;
  margin-top: 6px;
  margin-left: 4.5px;
}

.sidebar-subs {
  padding-top: 30px;
}
.sidebar-subs h3{
  font-family: 'Mulish', sans-serif;
  color: rgba(0, 0, 0, 1);
  font-size: 18px;
  line-height: 22.5px;
  font-weight: 700;
}
.subs-list-item {
  display: flex;
  font-family: 'Mulish', sans-serif;
  color: rgba(137, 137, 137, 1);
  font-size: 16px;
  line-height: 20.08px;
  gap: 10px;
  margin: 0;
  flex-wrap: nowrap;
}

.sidebar-subs-list {
  padding-top: 30px;
}

.subs-list-item:nth-child(-n+5) {
  padding-bottom: 23px;
}
.sidebar-subs-list img {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border: 0;

}
.sidebar-subs-list figcaption {
  padding-top: 4px;
}









.sidebar-settings {
  display: flex;
  gap: 12.3px;
  margin-top: auto;
  padding-top: 104px;
  font-family: 'Mulish', sans-serif;
  color: rgba(194, 194, 194, 1);
  font-size: 16px;
  line-height: 20.08px;
}
.sidebar-settings-text {
  padding-top: 1px;
}
.sidebar-settings-logo {
  padding-top: 1px;
  padding-left: 3px;
}


.header {
  display: flex;
  padding: 20px 70px 20px 32px;
  width: 100%;
  box-sizing: border-box;
}
.header-logo-menu {
  display: flex;
  gap: 28px;
  align-items: center;
}
.header-menu {
  padding-bottom: 3px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.header-logo {
  padding-top: 1.5px;
}
.header-menu span {
  width: 20px;
  height: 1px;
  box-sizing: border-box;
  background-color:rgba(31, 32, 34, 1) ;
  border: 1.5px solid rgba(31, 32, 34, 1);
}

.header-sidebar figure{
  margin: 0;
}
.header-search {
  padding-left: 60.09px;
  display: flex;
  align-items: center;
}
.header-search img {
  width:18.21px ;
  height: 18.21px;
  padding: 0;
  margin: 0;
}
.header-search input {
  box-sizing: border-box;
  width:830px ;
  height: 44px;
  color: rgba(48, 56, 76, 1);
  background-color: #EBEBEB;
  border-radius: 22px;
  padding: 13px 17.79px 14.79px 23px;
  margin: 0;
  border: 0px;
  opacity: 30%;
  font-size: 16px;
  font-family: 'Mulish', sans-serif;
}
.header-input-icon {
  position: relative;
  left: -36.5px;
}
.header-sidebar-icons {
  display: flex;
  padding-bottom: 1px;
}
.header-sidebar-icons img:nth-child(-n+2){
  padding-right: 50px;
}
.header-sidebar {
  /* gap: 50px; */
  margin-left: auto;
  display: flex;
  align-items: center;
}
.icon-notification {
  background-color: rgba(255, 0, 0, 1);
  width: 18px;
  height: 18px;
  border-radius: 50%;
  /* box-sizing: border-box; */
  position: relative;
  left: -12.5px;
  top: -7.5px;
  border: 1px solid rgba(255, 255, 255, 1);
}
.icon-notification p {
  font-family: 'Mulish', sans-serif;
  margin: 0;
  color: rgba(255, 255, 255, 1);
  padding: 1px 4px 2px 6px;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
}
.header-sidebar-user {
  padding-left: 32px;
  padding-top: 2px;
}
.header-sidebar-user img {
  width: 40px ;
  height: 40px ;
  border-radius: 50px;
  border: 0;
}

.main {
  width: 100%;
  display: flex;
  padding-top: 28px;
  overflow: hidden;
}


.content {
  /* background-color:bisque; */
  box-sizing: border-box;
  padding-left: 22px;
}
.content-row-desc {
  font-family: 'Mulish', sans-serif;
  display: flex;
  align-items: center;
  gap: 20px;
  color: rgba(25, 32, 44, 1);
  margin: 0;
  font-weight: 700;
  font-size: 26px;
  line-height: 32.63px;
}
.content-row-desc img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.content-row-content {
  padding-top: 30px;
  display: flex;
  gap: 40px;
}
.content-row-content-item {
  margin:0;
  position: relative;
}
.content-first-row .content-row-content-item img,
.content-third-row .content-row-content-item img {
  width: 250px;
  height: 150px;
  border-radius: 14px;
  object-fit: cover;
}
.content-second-row .content-row-content-item img {
  width: 540px;
  height: 250px;
  border-radius: 14px;
  object-fit: cover;
}
.content-figcaption  {
  font-family: 'Mulish', sans-serif;
  color: rgba(25, 32, 44, 1);
  font-weight: 700;
  font-size: 16px;
  line-height: 20.08px;
  padding-top: 5px;
  padding-left: 2px;
}
.content-second-row .content-figcaption {
  padding-top: 6px;
  padding-left: 1px;
}
/* .cphoto1, .cphoto2, .cphoto3, .cphoto4, .cphoto5, .cphoto6 {
  object-fit: cover;
} */
.content-figcaption-stats{
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  /* margin-top: 2px; */
}

.content-figcaption-stats p {
  font-family: 'Mulish', sans-serif;
  color: rgba(194, 194, 194, 1);
  font-weight: 400;
  font-size: 13px;
  line-height: 16.32px;
  margin-top: 4.5px;
}
.content-second-row {
  padding-left: 2px;
  padding-top: 35px;
}
.content-timing {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  color: rgba(255, 255, 255, 1);
  font-weight: 400;
  font-size: 14px;
  line-height: 17.57px;
  padding: 3px 9px;
  border-radius: 12px;
  bottom: 74px;
  right: 9px;
  font-family: 'Mulish', sans-serif;
}
.content-third-row {
  padding-top: 36px;
}